/* Home */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

body {
    margin: 0;
    background-color: orangered;
    min-height: 100vh;
  }

.main-index-header {
    width: 100%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

}

.main-index-header h1 {
    color: white;
    font-family: 'poppins' ,sans-serif;
    font-size: 20px;

}

/* Alterar cor */

.main-index-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

.main-index-color {
    width: 50%;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 100px;

}


.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.input-group input{
    height: 45px;
    width: 87%;
    padding-bottom: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;

}

.btn-change-color {
    display: flex;
    justify-content: center;
}
.btn-change-color button{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    height: 45px;
    width: 87%;
    background-color: orange;
}

.color-buttons {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.color-buttons button {
    border: none;
    padding-right: 10px;
    border-radius: 30px;
    font-size: 15px;
    width: 90px;
    height: 25px;
    background: orange;
}

/* IMC */

.main-index-imc {
    width: 50%;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 100px;

}

.input-imc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.input-imc input{
    height: 45px;
    width: 87%;
    padding-bottom: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;

}

.imc-btn {

    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    
}

.imc-btn button {
    border: none;
    padding-right: 10px;
    border-radius: 30px;
    font-size: 15px;
    width: 90px;
    height: 25px;
    background: orangered;
}

.result {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    
}

/* Home */

.func-options-btn {
    width: 50%;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.func-options-btn button {
    border: none;
    padding-right: 10px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 10px;
    width: 90px;
    height: 25px;
    background: orange;
}

/* Exit */

.main-button-exit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.main-button-exit button {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 30px;
    width: 90px;
    height: 25px;
    background: orange;
}

a {
    text-decoration: none;
}